<div class="card">
  <h1 id="center"> RANE MADRAS LIMITED</h1>
  <img src="../assets/elite logo.png" alt="Avatar" style="width:20%">
  <div class="container">
    <h2 style="font-size:20px"> <b> ID no: </b></h2>
    <h4 style="font-size:20px"><b>Name:</b> Sakthivel</h4>
    <h3 style="font-size:20px"> <b> Father's name: </b> Maya</h3>
    <h5 style="font-size:20px"> <b> Department: </b> Traning</h5>
    <h6 style="font-size:20px"> <b>Designation:</b>NEEM </h6>
    
  </div>
</div>
<div class="card2"  >
  <h6 style="font-size:20px" id="shift"> <b>Address:</b>abcd </h6>
  <h1 style="font-size:20px" id="shift"> <b>Emergency contact:</b></h1>
  <h2 style="font-size:20px" id="shift"> <b> name</b>Maya</h2>
  <h3 style="font-size:20px" id="shift"> <b>relation:</b> Father</h3>
  <h4 style="font-size:20px" id="shift"> <b> valid from:</b> 09-09-09</h4>
  <h5 style="font-size:20px" id="shift"> <b> valid to:</b>08-08-08</h5>
  <h2 style="font-size:20px"> <b>authorised signature </b></h2>
  <img src="../assets/elite logo.png" alt="Avatar" style="width:20%" id="center">
</div>